footer{
    background-color: white;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    align-items: center;
    line-height: 50px;
    border-top: solid 1px #CCCCCC;
    position:sticky;
  }
